server:
  port: ${PORT:8080}
  forward-headers-strategy: framework
spring:
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration, classpath:db/seed
cors:
  allowed:
    api: /**
    method: '*'
    origin:
      - http://localhost:3000
      - http://127.0.0.1:3000
      - https://127.0.0.1:3000
      - https://localhost:3000
security:
  patterns:
    ignoring:
      GET:
        - /v3/api-docs/**
        - /swagger-ui/**
        - /swagger-ui.html/**
        - /api/users/nickname/duplication
        - /api/users/username/duplication
        - /health
      POST:
        - /api/users/signin
        - /api/users/signup
      PATCH: [ ]
      PUT: [ ]
      DELETE: [ ]
    permit-all:
      GET: [ ]
      POST: [ ]
      PATCH: [ ]
      PUT: [ ]
      DELETE: [ ]
      OPTIONS: /**
jwt:
  issuer: sfam
  client-secret:
  accessToken:
    header: atoken
    expiry-seconds: 30
  refreshToken:
    header: rtoken
    expiry-seconds: 120
feign:
  client:
    config:
      default:
        loggerLevel: basic

division:
  key: ${DIVISION_KEY:CEB52025-E065-364C-9DBA-44880E3B02B8}
  domain: ${DIVISION_DOMAIN:http://localhost:8080}