spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_PASSWORD:password}
    url: jdbc:mysql://localhost:3306/${MYSQL_SCHEMA:sfam}
  jpa:
    show-sql: ${SHOW_SQL:true}
    properties:
      hibernate:
        format_sql: ${SHOW_SQL:true}
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH_CLIENT_ID:ENC(3L5+cJ3QhPyprBUX8YOsqTuZnMOJyVBwi2gjlc2KVQzWz8J77heh1SvQyxcSGfrXAVQQbLpw2lcM1vBgkZEx4fFujLvL2dEvYnQf4dcq3I//yfArD8acow==)}
            client-secret: ${OAUTH_CLIENT_SECRET:ENC(VlfYz991G5XtohGbAWU/vsHZkW3/y7ILKIfyqy5Vy0d2HcbEDDgMySkfKDsgX8uw)}
            scope:
              - profile
              - email
            redirect-uri: ${OAUTH_REDIRECT_URI:https://dongkyurami.link/}
logging:
  level:
    com.kdt: DEBUG
    org.hibernate.type.descriptor.sql: DEBUG
jwt:
  client-secret: ${JWT_SECRET:DEFAULT_JWT_SECRET}

cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY:ENC(DJZaeqCiNozKW4JuuBSKP5bL5RG4N96dO0cBIutH6po=)}
      secretKey: ${AWS_SECRET_KEY:ENC(kBszTKJdX9T5msgT1OTUiRjKcTngLRG8bYYL4FGfUK3xq7fO6WRQBMTUEXehXtZHeEFWHbvAmEw=)}
    s3:
      bucket: ${S3_BUCKET:ENC(IDNhmo1D2i5p8+FnBMUzU/BLYyxnfKNx)}
      url: ${S3_URL:ENC(Ol+MZICacLWE4oltu+sYOwNARkwWjfwA50g+5i0FyYOYCcjuRe9/I9AoHHczVNB13pjcbtnaBn+12zqsDPmIKw==)}
    stack:
      auto: false
    region: ${AWS_REGION:ENC(ayPRiqCMtSXBerKcGgVo29E2r606Z1Ht)}

encryptor:
  key: ${ENCRYPTOR_KEY}
